<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/blockedusers.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <section id="menu">
        <div class="logo">
            <img src="/images/logo.png" alt="">
            <h2>StyleSphere</h2>
        </div>
        <div class="items">
            <li><i class="fa-solid fa-chart-line"></i> <a href="/admin/home">Analysis</a></li>
            <li><i class="fa-solid fa-gift"></i><a href="/admin/products">Products</a></li>
            <li> <i class="fa-solid fa-user"></i> <a href="/admin/users">Users</li>
            <li> <i class="fa-regular fa-pen-to-square"></i> <a href="/admin/categories">Category</a></li>
            <li><i class="fa-solid fa-truck"></i> <a href="#">Orders</a></li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="/admin/coupons">Coupons</a></li>
            <li><i class="fa-regular fa-file"></i> <a href="/admin/banners">Banners</a></li>
            <li><i class="fa-solid fa-arrow-right-from-bracket"></i> <a href="">logout</a></li>

        </div>

    </section>


    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
                    <i id="menu-btn" class="fa-solid fa-bars"></i>
                </div>
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>

            <div class="profile">
                <i class="fa-solid fa-bell"></i>
            </div>
        </div>


        <div style="width: 100%; display: flex; justify-content: space-between; align-items: end;">
            <h3 class="i-name">Blocked Users</h3>
        </div>

        <div class="board">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>E mail</td>
                        <td>Status</td>
                        <td>Phone</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <% userDatas.forEach((data)=>{ %>
                        <tr class="tr">
                            <td class="people"> 
                                
                                <div class="people-de">
                                    <h5><%=data.username %></h5>
                                </div>
                            </td>
        
                            <td class="people-des">
                              <h5><%=data.email %></h5>
                             
                            </td>
        
                           <td class="active"><a href="" user-email="<%=data.email%>"  class="deleteBtn"><p class="errormessage"><%=data.isBlocked%></p></a></td>
        
                            <td class="role"> <p><%=data.phone %></p></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>