<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"> 
 <link rel="stylesheet" href="/banner.css">
  
</head>

<body>
  <!--Main Navigation-->
  <header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-info border-bottom">
      <div class="container">
        <div class="row gy-3">
          <!-- Left elements -->
          <div class="col-lg-2 col-sm-4 col-4">
            <a href="https://mdbootstrap.com/" target="_blank" class="float-start">
              <img src="/Logo/Stylesphere-logos.png" height="35" style="object-fit: contain; border-radius: 4px;" />
            </a>
          </div>
          <!-- Left elements -->

          <!-- Center elements -->
          <div class="order-lg-last col-lg-5 col-sm-8 col-8">
            <div class="d-flex float-end">
              <a href="/signup" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank"> <i class="fas fa-user-alt m-1 me-md-2"></i><p class="d-none d-md-block mb-0 text-white">Sign in</p> </a>
              <a href="/user/wishlist" class="me-1 ms-4 border rounded py-1 px-3 nav-link d-flex align-items-center"> <i class="fas fa-heart m-1 me-md-2 "></i><p class="d-none d-md-block mb-0 text-white">Wishlist</p> </a>
              <a href="/user/cart" class="border ms-4 me-2 rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank"> <i class="fas fa-shopping-cart m-1 me-md-2"></i><p class="d-none d-md-block mb-0 text-white">My cart</p> </a>
              <a href="/user/profile" class="border ms-2.5 rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank"> <i class="fa-solid fa-user m-1 me-md-2"></i><p class="d-none d-md-block mb-0 text-white">Profile</p> </a>
            </div>
          </div>
          <!-- Center elements -->

          <!-- Right elements -->
          <div class="col-lg-5 col-md-12 col-12">
            <div class="input-group float-center">
              <div class="form-outline">
                <input type="search" id="form1" class="form-control" />
                <label class="form-label" for="form1">Search</label>
              </div>
              <button type="button" class="btn btn-primary shadow-0">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <!-- Right elements -->
        </div>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- Container wrapper -->
      <div class="container justify-content-center justify-content-md-between ">
        <!-- Toggle button -->
        <button class="navbar-toggler border py-2 text-dark" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#navbarLeftAlignExample" aria-controls="navbarLeftAlignExample" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-dark" aria-current="page" href="/user/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/user/allproducts">All Products</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link text-dark" href="#">Categories</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link text-dark" href="/user/categories?element=Electronics">Electronis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/user/subcategories?element=Mobiles">Mobiles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/user/categories?element=Mens">Men's</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/user/categories?element=wemons">wemon's</a>
            </li>
            <!-- Navbar dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                data-mdb-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <!-- Dropdown menu -->
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% categoryDatas.forEach((data)=> { %>

                  <li>
                    <a class="dropdown-item" href="/user/categories?element=<%=data.category%>">
                      <%=data.category%>
                    </a>
                  </li>

                  <% }) %>
              </ul>
            </li>
          </ul>
          <!-- Left links -->
        </div>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <!-- Jumbotron -->
    <!-- <div class="bg-primary text-white py-5">
      <div class="container py-5">
        <h1>
          Best products & <br />
          brands in our store
        </h1>
        <p>
          Trending Products, Factory Prices and Excellent Services
        </p>
        <button type="button" class="btn btn-outline-light">
          Learn more
        </button>
        <button type="button" class="btn btn-light shadow-0 text-primary pt-2 border border-white">
          <span class="pt-1">Purchase now</span>
        </button>
      </div>
    </div> -->

    <div class="banner">

      <% bannerDatas.forEach((data) =>{ %>
    
      <button class="prev_banner"><i class="bi banner_chevron bi-chevron-left"></i></button>
       

      <div class="banner_sub_div">
      <img src="/uploads/banners/<%=data.image%>"  style="width: 45%; ">
      <div class="banner_text_frame">
         <h2><%=data.heading%></h2>
         <h4><%=data.bannername%></h4>
         <h5><i class="bi bi-currency-rupee"></i><%=data.offerprice%></h5>
      </div>
      </div>

            
       <button class="next_banner"><i class="bi banner_chevron bi-chevron-right"></i></button>
       <% }) %>
    </div>


    <!-- Jumbotron -->
  </header>
  <!-- Products -->
  <section>
    <div class="container my-5">
      <header class="mb-4">
        <h3 class="d-flex justify-content-center">New Arrivals</h3>
      </header>
      <div class="row">
        <% productDatas.forEach((data)=>{ %>
          <div class="col-lg-3 col-md-6 col-sm-6 d-flex" style="height: 540px;">
            <a href="/user/productview/<%=data._id%>">
              <div class="card w-100 my-3 shadow-2-strong">
                <div class="d-flex align-items-center justify-content-center m-4"><img
                    src="/uploads/products/<%=data.product_img[0]%>" class="card-img-top"
                    style="width: 18rem; height: 15rem; object-fit: contain;" /></div>
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title" style="font-size: 18px;">
                    <%=data.productname%>
                  </h5>
                  <p class="card-text"
                    style="background-color: rgb(212, 171, 35); width: 30%; border-radius: 6px; color: rgba(0, 0, 0, 0.777); display: flex; justify-content: center; height: 30px; align-items: center; font-weight: bold;">
                    ₹ <%=data.oldprice%>
                  </p>
                  <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                    <a href="#!" class="btn btn-primary shadow-0 me-1">Buy Now</a>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <% }) %>
      </div>
    </div>
  </section>

  <!-- Products -->

  <!-- Footer-->

  <footer
    style="background-image: url('/Footer/blue-wave-bg.webp'); width: 100%; height: 300px;  background-repeat: no-repeat; background-size: cover; background-position: bottom;">
  </footer>

  <!-- Footer-->

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js">
  </script>

<script src="/bannerscript.js"></script>

</body>

</html>